@import 'tailwindcss';

body {
  background-color: rgb(222, 231, 222);
}

@layer components {
  .card {
    background-color: rgb(244, 230, 186);
    border: #1a1a1a;
    border-radius: 20px;
    border-width: 2px;
  }
}
