@import 'tailwindcss';

/* body {
  background-color: beige;
} */

@theme {
  --color-brand: rgb(90, 232, 92);
}

@layer components {
  .card {
    background-color: rgb(244, 230, 186);
    border: #1a1a1a;
    border-radius: 20px;
    border-width: 2px;
  }
}
